body {
    font-family: "Lato", sans-serif;
}

.login{
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.form {
  padding-top: 5%;
    padding-bottom: 5%;
}


 input[type="text"] {
   margin-bottom: 2%;

 }


.form h1{
    text-align: center;
    color: #495057;
    padding-top: 2%;
    margin-bottom: 2%;
}
